@model Model.Client
@{
    ViewData["Title"] = "Client Details";
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>

    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>@Model.Name</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID:</dt>
                <dd class="col-sm-9">@Model.Id</dd>

                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">@Model.Email</dd>

                <dt class="col-sm-3">Phone:</dt>
                <dd class="col-sm-9">@Model.Phone</dd>

                <dt class="col-sm-3">CPF:</dt>
                <dd class="col-sm-9">@Model.CPF</dd>
            </dl>


        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-secondary">Back</a>
            <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        </div>
    </div>
</div>