@using Aula1.Models
@model Variaveis

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>o valor de <b>Minimo byte</b>: <i>@Model.MinValue</i></p>
    <p>O valor de <b>Maximo byte</b>: <i>@Model.MaxValue</i></p>

    <p>-------------------------------</p>

    <p>O valor de <b>Minimo short</b>: <i>@Model.MiniValue</i></p>
    <p>O valor de <b>Maximo short</b>: <i>@Model.MaxiValue</i></p>
    <p>O valor de <b>Minimo int</b>: <i>@Model.MinimValue</i></p>
    <p>O valor de <b>Maximo int</b>: <i>@Model.MaximValue</i></p>
    <p>O valor de <b>Minimo uint</b>: <i>@Model.MinimoValue</i></p>
    <p>O valor de <b>Maximo uint</b>: <i>@Model.MaximoValue</i></p>
    <p>O valor de <b>Minimo long</b>: <i>@Model.MiniiValue</i></p>
    <p>O valor de <b>Maximo long</b>: <i>@Model.MaxiiValue</i></p>
    <p>O valor de <b>Minimo sbyte</b>: <i>@Model.MinSByte</i></p>
    <p>O valor de <b>Maximo sbyte</b>: <i>@Model.MaxSByte</i></p>
    <p>O valor de <b>Minimo ushort</b>: <i>@Model.MinUShort</i></p>
    <p>O valor de <b>Maximo ushort</b>: <i>@Model.MaxUShort</i></p>
    <p>O valor de <b>Minimo ulong</b>: <i>@Model.MinULong</i></p>
    <p>O valor de <b>Maximo ulong</b>: <i>@Model.MaxULong</i></p>
    <p>------------------------------------------------------------</p>
    <p>O valor de <b>Minimo float</b>: <i>@Model.MinFloat</i></p>
    <p>O valor de <b>Maximo float</b>: <i>@Model.MaxFloat</i></p>
    <p>O valor de <b>Minimo double</b>: <i>@Model.MinDouble</i></p>
    <p>O valor de <b>Maximo double</b>: <i>@Model.MaxDouble</i></p>
    <p>O valor de <b>Minimo decimal</b>: <i>@Model.MinDecimal</i></p>
    <p>O valor de <b>Maximo decimal</b>: <i>@Model.MaxDecimal</i></p>
</div>